body {
	font-family: 'Roboto Condensed', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

#friend-header, #chat-header {
	text-align: center;
	font-size: 20px;
	color:white;
}

.friend-list {
	width: 34%;
	height: 80vh;
	clear:both;
	background: #03A9F4;
	float: left;
	text-align: center;
}

.chat-system {
	width:66%;
	background: #03A9F4;
	float:right;
	text-align:center;
}

#message-history{
	background: #B0BEC5;
	overflow-y: auto;
	height: 77vh;
	display: flex;
	flex-direction: column-reverse;
	padding: 5px !important;
}

*{
	list-style:none;
	padding-left:0;
}

#message-text-field{
	width: 85% !important;
	float:left;
	clear:both;
	border: none;
	line-height: 88px;
	font-size: 20px;
	padding-left: 10px;
	outline: none;
}

#send-message-button{
	width:13% !important;
	line-height: 85px;
	border-radius: 2px;
	color:white;
	background-color: #EF5350;
	outline:none;
	border-radius: 2px;
	font-size: 20px;
}

.my-message{
	float: right;
	list-style-type: none;
	clear:both;
	text-align: right;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 5px;
	background: #1DE9B6;
	font-size: 25px;
}

.other-message{
	float:left;
	list-style-type: none;
	clear:both;
	text-align: left;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 5px;
	background: #00E5FF;=
	font-size: 25px;
}

#message-list, #active-user-list{
	list-style-type: none;
	list-style: none;
	padding: 0;
}

.active-people-container{
	height: 84vh;
	background-color: white;
	overflow-y: auto;
}

#people-list{
	float: left;
	clear: both;
	color: white;
	width: 100%;
	outline: none;
	padding: 15px;
	font-size: 20px;
	background-color: #3F51B5;
}

#divM{
	margin: 0;
	padding: 0;
}
button:hover{
	background-color: #EF5350;
	cursor: pointer;
}